 <md-toolbar ng-controller="navCtrl">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" class="md-icon-button">
          <i class="icon ion-android-menu"></i> 
        </md-button>
        <h2>
          <span>Tweetz</span>
        </h2>
      </div>
 </md-toolbar>

  <!-- <md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <i class="icon ion-chatbubbles"></i>
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools">Tweetz</h2>
            <md-menu-bar>
              <md-menu>
                <button ng-click="$mdOpenMenu()" class="md-button" ui-sref="home">
                  Home
                </button>
                 <md-menu-content></md-menu-content>
              </md-menu>
              <md-menu>
                <button ng-click="$mdOpenMenu()" class="md-button" ui-sref="about">
                  About
                </button>
                <md-menu-content></md-menu-content>
              </md-menu>
            </md-menu-bar>
        </div>
    </div>
  </md-toolbar> -->