<md-toolbar ng-controller="navCtrl" md-whiteframe="2" >
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" class="md-icon-button">
          <i class="icon ion-android-menu"></i> 
        </md-button>
        <h2>
          <span>Tweetz</span>
        </h2>
        <md-fab-speed-dial
            md-direction="down"
            class="md-fling md-fab-top-right">
            <md-fab-trigger>
                <md-button class="md-fab">
                    <i class="icon ion-android-funnel"></i>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button class="md-fab md-raised md-mini" ng-click="vm.contactForm($event)">
                    <i class="icon ion-android-refresh"></i>
                    <md-tooltip md-direction="left">Clear Message</md-tooltip>
                </md-button>
                <md-button class="md-fab md-raised md-mini" ng-click="vm.clearNotes($event)">
                    <i class="icon ion-log-out"></i>
                    <md-tooltip md-direction="left">Logout</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</md-toolbar>

  <!-- <md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <i class="icon ion-chatbubbles"></i>
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools">Tweetz</h2>
            <md-menu-bar>
              <md-menu>
                <button ng-click="$mdOpenMenu()" class="md-button" ui-sref="home">
                  Home
                </button>
                 <md-menu-content></md-menu-content>
              </md-menu>
              <md-menu>
                <button ng-click="$mdOpenMenu()" class="md-button" ui-sref="about">
                  About
                </button>
                <md-menu-content></md-menu-content>
              </md-menu>
            </md-menu-bar>
        </div>
    </div>
  </md-toolbar> -->