<div ng-include="'template/header.html'"></div>
<div ng-include="'template/menu.html'" layout="vertical"></div>
<div layout="row">
	<div flex="30">
		<md-content class="trans">
			<md-card>
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline">User Info</span>
			            <!-- <span class="md-subhead">Welcome</span> -->
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<i class="icon ion-person"></i>
		          	</md-card-title-media>
		        </md-card-title>
		        <md-divider ></md-divider>
		        <md-card-content class="cus_height">
		          	<h3>Username  : {{name}}</h3>
		          	<h3>Room Name : {{room}}</h3>
		        </md-card-content>
		    </md-card>
		</md-content>
	</div>
	<div flex>
		<md-content class="trans">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Welcome, {{name}}</span>
					</md-card-title-text>
					<md-card-title-media>
			            <i class="icon ion-chatbox-working"></i>
			        </md-card-title-media>
		        </md-card-title>
		        <md-divider ></md-divider>
				<md-card-content>
			        <md-content class="cus_height">
				      	<md-list flex>
				        	<md-list-item class="md-3-line">
				          		<img ng-src="img/60.jpeg" class="md-avatar" />
						        <div class="md-list-item-text">
						            <h3>Praveen</h3>
						            <p>
						              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
						              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
						              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						            </p>
						        </div>
						        <md-divider ></md-divider>
				        	</md-list-item>
				        	<md-list-item class="md-3-line">
				          		<img ng-src="img/60.jpeg" class="md-avatar" />
						        <div class="md-list-item-text">
						            <h3>Praveen</h3>
						            <p>
						              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
						              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
						              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						            </p>
						        </div>
						        <md-divider ></md-divider>
				        	</md-list-item>
				        	<md-list-item class="md-3-line">
				          		<img ng-src="img/60.jpeg" class="md-avatar" />
						        <div class="md-list-item-text">
						            <h3>Praveen</h3>
						            <p>
						              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
						              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
						              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						            </p>
						        </div>
						        <md-divider ></md-divider>
				        	</md-list-item>
				        	<md-list-item class="md-3-line">
				          		<img ng-src="img/60.jpeg" class="md-avatar" />
						        <div class="md-list-item-text">
						            <h3>Praveen</h3>
						            <p>
						              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
						              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
						              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						            </p>
						        </div>
						        <md-divider ></md-divider>
				        	</md-list-item>
				        	<md-list-item class="md-3-line">
				          		<img ng-src="img/60.jpeg" class="md-avatar" />
						        <div class="md-list-item-text">
						            <h3>Praveen</h3>
						            <p>
						              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
						              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
						              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						            </p>
						        </div>
						        <md-divider ></md-divider>
				        	</md-list-item>
				        </md-list>
				    </md-content>    
			    </md-card-content>
			    <md-divider ></md-divider>
			    <form name="messageForm">
		    		<div layout-gt-sm="row" layout-padding>
			    		<md-input-container class="md-block md-icon-left" flex-gt-xs>
			    		 	<md-icon class="icon ion-email"></md-icon>
			    		 	<label>Message</label>
			    		 	<input type="text" ng-required="true">
			    		</md-input-container>
			    		<md-input-container>
		          			<md-button class="md-warn" type="submit"><i class="icon ion-android-send"></i></md-button>
		          		</md-input-container>
	          		</div>
	          	</form>
		    </md-card>
		</md-content>
	</div>
</div>
<!-- <div layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div> -->
