<div layout="row">
	<div flex="33">
		<md-content>
			<md-card>
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline">User Info</span>
			            <!-- <span class="md-subhead">Welcome</span> -->
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<i class="icon ion-person"></i>
		          	</md-card-title-media>
		        </md-card-title>
		        <md-card-content>
		          	<h3>Content</h3>
		        </md-card-content>
		    </md-card>
		</md-content>
	</div>
	<div flex>
		<md-content>
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Welcome</span>
					</md-card-title-text>
					<md-card-title-media>
			            <i class="icon ion-chatbox-working"></i>
			        </md-card-title-media>
		        </md-card-title>
				<md-card-content>
			        <h3>Content</h3>
			    </md-card-content>
		    </md-card>
		</md-content>
	</div>
</div>
<!-- <div layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div> -->
