<div ng-include="'template/header.html'"></div>
<div ng-include="'template/menu.html'" layout="vertical"></div>
<div layout="row" layout-sm="column">
	<div flex="30">
		<md-content class="trans">
			<md-card>
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline">User Info</span>
			            <!-- <span class="md-subhead">Welcome</span> -->
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<i class="icon ion-person"></i>
		          	</md-card-title-media>
		        </md-card-title>
		        <md-divider ></md-divider>
		        <md-card-content class="cus_height">
		          	<h3>Username  : {{name}}</h3>
		          	<h3>Room Name : {{room}}</h3>
		        </md-card-content>
		    </md-card>
		</md-content>
	</div>
	<div flex>
		<md-content class="trans">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Welcome, {{name}}</span>
					</md-card-title-text>
					<md-card-title-media>
			            <i class="icon ion-chatbox-working"></i>
			        </md-card-title-media>
		        </md-card-title>
		        <md-divider ></md-divider>
				<md-card-content>
			        <md-content class="cus_height" scroll-glue>
				      	<md-list ng-repeat="msg in message track by $index" flex>
				        	<md-list-item class="md-3-line">
				          		<img ng-src="img/tweetz.png" class="md-avatar" />
						        <div class="md-list-item-text">
						            <h3>{{msg.name}}</h3>
						            <p>
						              {{msg.text}}
						            </p>
						        </div>
						        <md-divider ></md-divider>
				        	</md-list-item>
				        </md-list>
				    </md-content>    
			    </md-card-content>
			    <md-divider ></md-divider>
			    <form name="messageForm" ng-submit="sendMsg()">
		    		<div layout-gt-sm="row" layout-padding>
			    		<md-input-container class="md-block md-icon-left" flex-gt-xs>
			    		 	<md-icon class="icon ion-email"></md-icon>
			    		 	<label>Message</label>
			    		 	<input type="text" ng-model="message.text" ng-required="true">
			    		</md-input-container>
			    		<md-input-container>
		          			<md-button class="md-warn" type="submit"><i class="icon ion-android-send"></i></md-button>
		          		</md-input-container>
	          		</div>
	          	</form>
		    </md-card>
		</md-content>
	</div>
</div>
<!-- <div layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div> -->
